body{
    background-color: #F2F2F2;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 40px;
    background-color: #DD0000;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);    
  }
  .menu {
    display: flex;
    color: white;
    list-style: none;
    padding-top: 20px;
    margin-left: 500px;
  }
  .menu-item {
    margin-left: 30px;
    text-decoration: none;
    color: white;
  }
  .menu-item-link {
    font-size: 15px;
    font-weight:900;
    color: #000000;
    text-decoration: none;
    color: white;
  }
  .menu-item-link.menu-item-link-btn {
    color: #fff;
    background-color: #ef2728;
    border-radius: 24px;
    padding: 12px 30px;
  }
.mt-5{
    background-color: white;
}

  .sp-nav {
    display: none;
 }
 .easy-quiz{
     margin-top: 200px;
 }
 .container{
     margin-top: 40px;
 }
 .main-title{
     color: white;
     font-weight: 800;
 }
 .btn--orange,
 a.btn--orange {
   color: #fff;
   background-color: #eb6100;
   margin-top: 50px;
 }
 .btn--orange:hover,
 a.btn--orange:hover {
   color: #fff;
   background: #f56500;
 }

 .mode-choice{
    font-size: 60px;
    text-align: center;
    color: black;
    border-bottom: 3px solid black;
    width: 400px;
    font-weight: bold;
    margin: auto;
 }
 .mode-choice-name{
    width: auto;
    padding-top: 145px;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px  gray;
 }
.background-tag{
    background-color: white;
    height: 900px;
    width: 800px;
    align-items: center;
    margin: auto;
}

 .mode-select{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .btn--orange{
     padding: 20px;
     flex-direction: column;
     align-items: center;
     width: 400px;
     font-size: 18px;
 }
 .btn-secondary{
    margin-top: 120px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 350px;
    font-size: 18px;
    
 }
 .start-btn--orange{
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 400px;
    font-size: 18px;
 }
 .start-btn--orange,
 a.start-btn--orange {
   color: #fff;
   background-color: #eb6100;
   margin-top: 50px;
 }
 .start-btn--orange:hover,
 a.start-btn--orange:hover {
   color: #fff;
   background: #f56500;
 }

 .footer {
    background-color: gray;
    bottom: 0; /*下に固定*/
    padding: 30px 0;
    position: center;
    position: absolute;
    width: 100%;
  }
  .copyright {
    font-size: 10px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
  }

 @media screen and (max-width: 640px) {
    .menu {
        display: none;
    }
    .logo {
        width: 140px;
        margin: 0px;
    }
    .sp-nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 30px;
        width: 100%;
        height: 100vh;
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, .8);
        opacity: 0;
        transform: translateY(-100%);
        transition: all .2s ease-in-out;
     }
     #hamburger {
        position: relative;
        display: block;
        width: 35px;
        padding-right: 10px;
        height: 25px;
        margin: 0 0 0 auto;
     }
     #hamburger span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        padding-right: 10px;
        height: 2px;
        background-color: black;
        transform: translateY(-50%);
     }
     #hamburger::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-right: 10px;
        height: 2px;
        background-color: black;
     }
     #hamburger::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70%;
        padding-right: 10px;
        height: 2px;
        background-color: black;
     }

     .sp-nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
     }
     .sp-nav li {
        margin: 0;
        padding: 0;
     }
     .sp-nav li span {
        font-size: 15px;
        color: #fff;
     }
     .sp-nav li a, .sp-nav li span {
        display: block;
        padding: 20px 0;
        text-decoration: none;
        color: white;
     }
     a:hover {
        color: gray;
      }

     .sp-nav .close {
        position: relative;
        padding-left: 20px;
     }
     .sp-nav .close::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate( 45deg );
     }
     .sp-nav .close::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate( -45deg );
     }
     .background-tag{
        align-items:initial;
        margin-left: 0px;
        width: 500px;
    }
    .mode-choice-name{
        width: 180px;
        padding-top: 120px;
        font-size: 15px;
        border-bottom: 3px  gray;
        margin-left: 30px;
     }
     .mode-choice-name{
        width: 0px;
        padding-top: 145px;
        font-size: 20px;
        border-bottom: 3px  gray;
     }
     .btn--orange{
        padding: 20px;
        margin-left: 0px;
        width: 250px;
        font-size: 18px;
    }
    .footer {
        background-color: gray;
        bottom: 0; /*下に固定*/
        padding: 30px 0;
        position: center;
        position: absolute;
        width: 100%;
      }
    }
